keybinds clear-defaults=true {
    locked {
        bind "Ctrl a" { SwitchToMode "normal"; }
    }

    normal {
        bind "Ctrl a" { SwitchToMode "locked"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "h" { MoveFocus "left"; SwitchToMode "locked";}
        bind "j" { MoveFocus "down"; SwitchToMode "locked";}
        bind "k" { MoveFocus "up"; SwitchToMode "locked";}
        bind "l" { MoveFocus "right"; SwitchToMode "locked";}


        bind "H" { NewPane "left"; SwitchToMode "locked";}
        bind "J" { NewPane "down"; SwitchToMode "locked";}
        bind "K" { NewPane  "up"; SwitchToMode "locked";}
        bind "L" { NewPane "right"; SwitchToMode "locked";}
        
        bind "n" { NewPane; SwitchToMode "locked"; SwitchToMode "locked";}
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "locked";}
        bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; SwitchToMode "locked";}
        bind "s" { NewPane "down"; SwitchToMode "locked";}
        bind "v" { NewPane "right"; SwitchToMode "locked";}
        bind "f" { ToggleFocusFullscreen; SwitchToMode "locked";}
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "locked";}
        bind "F" { ToggleFloatingPanes; SwitchToMode "locked";}
        bind "q" { CloseFocus; SwitchToMode "locked";}
        bind "z" { TogglePaneFrames; SwitchToMode "locked";}
        bind "tab" { SwitchFocus; SwitchToMode "locked";}
        bind "left" { MovePane "left"; SwitchToMode "locked";}
        bind "down" { MovePane "down"; SwitchToMode "locked";}
        bind "up" { MovePane "up"; SwitchToMode "locked";}
        bind "right" { MovePane "right"; SwitchToMode "locked";}
        bind "Space" { NextSwapLayout; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "c" {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            }

            SwitchToMode "locked";
        }
        bind "d" { Detach; SwitchToMode "locked";}
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "locked";
        }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            }

            SwitchToMode "locked";
        }
    }

    tab {
        bind "Esc" { SwitchToMode "Locked"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "h" "Left" "Up" "k" { GoToPreviousTab; }
        bind "l" "Right" "Down" "j" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Locked"; }
        bind "x" { CloseTab; SwitchToMode "Locked"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Locked"; }
        bind "b" { BreakPane; SwitchToMode "Locked"; }
        bind "]" { BreakPaneRight; SwitchToMode "Locked"; }
        bind "[" { BreakPaneLeft; SwitchToMode "Locked"; }
        bind "1" { GoToTab 1; SwitchToMode "Locked"; }
        bind "2" { GoToTab 2; SwitchToMode "Locked"; }
        bind "3" { GoToTab 3; SwitchToMode "Locked"; }
        bind "4" { GoToTab 4; SwitchToMode "Locked"; }
        bind "5" { GoToTab 5; SwitchToMode "Locked"; }
        bind "6" { GoToTab 6; SwitchToMode "Locked"; }
        bind "7" { GoToTab 7; SwitchToMode "Locked"; }
        bind "8" { GoToTab 8; SwitchToMode "Locked"; }
        bind "9" { GoToTab 9; SwitchToMode "Locked"; }
        bind "Tab" { ToggleTab; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
plugins {
    zjstatus location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_left   " {tabs}{mode} #[fg=bright_black,italic]@{session}"
        // format_right  "{command_weather} {command_battery} {datetime} "
        format_right  "{datetime} "
        format_center ""
        format_space  ""

        format_hide_on_overlength "true"
        format_precedence         "lrc"

        hide_frame_for_single_pane "true"

        mode_normal        ""
        mode_tmux          " #[bg=yellow,fg=black] >… "
        mode_locked        " #[bg=yellow,fg=black] {name} "
        mode_resize        " #[bg=yellow,fg=black] {name} "
        mode_pane          " #[bg=yellow,fg=black] {name} "
        mode_tab           " #[bg=yellow,fg=black] {name} "
        mode_scroll        " #[bg=yellow,fg=black] {name} "
        mode_enter_search  " #[bg=yellow,fg=black] {name} "
        mode_search        " #[bg=yellow,fg=black] {name} "
        mode_rename_tab    " #[bg=yellow,fg=black] {name} "
        mode_rename_pane   " #[bg=yellow,fg=black] {name} "
        mode_session       " #[bg=yellow,fg=black] {name} "
        mode_move          " #[bg=yellow,fg=black] {name} "
        mode_prompt        " #[bg=yellow,fg=black] {name} "

        color_bg "bright_black"
        color_fg "black"

        tab_separator " "
        tab_normal    "#[fg=$bg]#[bg=$bg,fg=$fg] {index}#[fg=$bg]"
        tab_active    "#[fg=magenta]#[bg=magenta,fg=$fg] {index}#[fg=magenta]"

        // command_monitor_command "macmon-line"
        // command_monitor_format "#[fg=$bg]#[bg=$bg,fg=$fg]{stdout}#[fg=$bg]"
        // command_monitor_interval "5"

        // command_weather_command "weather"
        // command_weather_format "#[fg=$bg]#[bg=$bg,fg=$fg]{stdout}#[fg=$bg]"
        // command_weather_interval "60"

        // command_battery_command "zelda-battery"
        // command_battery_format "#[fg=$bg]#[bg=$bg,fg=$fg]{stdout}#[fg=$bg]"
        // command_weather_interval "60"

        // datetime "#[fg=$bg]#[bg=$bg,fg=$fg]{format}#[fg=$bg]"
        datetime "#[fg=$bg]{format}"
        datetime_format "%a %b %d, %I:%M%P"
        datetime_timezone "Europe/Berlin"
    }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
on_force_close "quit"
simplified_ui true
// default_shell "nu"
pane_frames false
default_layout "default"
default_mode "normal"
copy_command "pbcopy"                     // osx
paste_comma
scrollback_editor "hx"
// non_colliding_default_keybinds true

ui {
    pane_frames {
        hide_session_name true
        rounded_corners true
    }
    status_bar {
        position "top"
    }
}

mouse_mode true

copy_command "pbcopy"
copy_on_select true
support_kitty_keyboard_protocol true

themes {
    sio-rose {
        fg "#FFF1E8"
        bg "#504A73"
        black "#3B4252"
        red "#618f97"
        green "#618f97"
        yellow "#605d84"
        blue "#8783A3"
        magenta "#50B8E3"
        cyan "#9CCFD8"
        white "#C5C0FF"
        orange "#D08770"
    }
}
theme "sio-rose"
