:sh wezterm cli split-pane sh -c "yazi --chooser-file=/dev/stdout | while read -r; do wezterm cli send-text --pane-id ${WEZTERM_PANE} --no-paste \\":o \\${REPLY}\\"; done" > /dev/nullresult
result-*
.direnv
.envrc
*.swp
.DS_Store
age.key
secrets.json
flake.lock
.aider*
